<h2>Transclusión</h2>

<app-acordeon titulo="Curso Angular">
  <ul>
    <li>Introducción</li>
    <li>Data Binding</li>
    <li>Eventos</li>
    <li>...</li>
  </ul>
  <p class="footer">Duración: 10 horas</p>
</app-acordeon>

<app-acordeon titulo="Logos">
  <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="Logo Angular" width="200"/>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/2367px-Vue.js_Logo_2.svg.png" alt="Logo Vue" width="200"/>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="Logo React" width="200"/>
</app-acordeon>

<app-acordeon titulo="Texto">
  <p>Jamón ipsum fregona vale amiga con se lo van a dar. Colarse torraera y las chulapo orujo. Gordinflón litros mis martes 13 portería caradura pero mi posturitas sonrisa bingo los rumbeo Ibiza bonachón. Tus chorizo a lo hecho, pecho. Manchego y cien gaviotas, vendió tu corriendo canción salta!. Asturiana vino rioja un borrachos como cubas por la cara, pero amiga sus fabada Costa Brava año. El dolores estupendo Rey quillo roñica piltrafilla.</p>
</app-acordeon>

