<h3>Componentes dinámicos</h3>

<app-modal>
  <ng-container appHost></ng-container>
</app-modal>

<div>
  <h3>Vídeos</h3>
  <ul>
    <li *ngFor="let video of videos">
      {{video.titulo}} <button (click)="mostrarMediaElement(video)">Ver</button>
    </li>
  </ul>
</div>

<div>
  <h3>Audios</h3>
  <ul>
    <li *ngFor="let audio of audios">
      {{audio.titulo}} <button (click)="mostrarMediaElement(audio)">Ver</button>
    </li>
  </ul>
</div>

<hr>
<a appMiRouterLink="/">Inicio</a>
<a appMiRouterLink="/nuevo-item">Nuevo Item</a>

<app-mi-router-outlet></app-mi-router-outlet>
